html {
  box-sizing: border-box;
}

body {
  background-color: #23272A;
  width: 100%;
  margin: 0 auto;
  color: #FFF;
  font-family: "Tahoma", "Arial", sans-serif;
  line-height: 1.25;
}

header, section, footer {
  clear: both;
  width: 80%;
  margin-left: 10%;  margin-right: 10%;
}

h1 {
  font-size: 3em;
}

p, h3 {
  font-size: 1.25em;
}

footer .smalltext {
  clear: both;
  font-size: xx-small;
}
footer p {
  font-size: small;
}

footer .headshot {
  margin: 0 1em 0 0;
  height: 4em;
  float: left;
}

.nonlisteningtype {
  font-weight: 600;
  color: rgb(119,43,35);
}
.listeningtype {
  font-weight: 600;
  color: rgb(17,48,103);
}

.introduction .infowindow .typeimage {
  width: 100%;
}
.introduction .infowindow .messageimage {
  width: 50%;
  margin-left: 25%;  margin-right: 25%;
}

.nl-type {
  background-color: none;
  text-align: center;
}
.number {
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: grey;
  position: relative;
  top: 0.5em;
  border-radius: 10px;
}
.cells{
  display: flex;
  vertical-align: top;
  text-align: center;
}
.diagramcell {
  padding: 0.25em 1.5em 0.25em 1.5em;
  width: 50%;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
}
.cells .nonlistening {
  background-color: rgb(148,54,44);
  border-top-left-radius: 10px;
}
.cells .listening {
  background-color: rgb(21,59,127);
  border-top-right-radius: 10px;
}

/*Changes things for the intro box*/
/* #disruption .number {
  visibility: hidden;
} */
.introduction .listening {
  border-top-left-radius: 10px;
  width: 100%;
}
.introduction .nonlistening {
  display: none;
}
/*Changes things for the disruption (non)listening type*/
#disruption .number {
  visibility: hidden;
}
#disruption .nonlistening {
  border-top-right-radius: 10px;
  width: 100%;
}
#disruption .listening {
  display: none;
}


/*Makes the font grow on the hovered (non)listening type*/
.cells:hover p, .cells:hover h3 {
  font-size: 1.5em;
}

.infowindow {
  /*display: none; /*Change this in JS later*/
  padding: 0.5em 5% 0.5em 5%;
  background-color: #FFF;
  color: #222;
  text-align: left;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.nl-type .infowindow img {
  float: left;
  width: 40%;
  margin-right: 1em;
  margin-bottom: 1em;
}
.infotype .description {
  padding: 0.5em;
  min-width: 50%;
}
.infowindow .quote {
  clear: both;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.infowindow .quoteattr {
  color: rgb(21,59,127);
  font-style: italic;
}
.infowindow .quotetext {
  color: #666;
  padding: 0 10% 0 10%;
}
